[project]
name = "advent-of-python-code"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "argparse>=1.4.0",
    "pathlib>=1.0.1",
    "typing>=3.10.0.0",
]
